@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
header {
  background-color: #FEF6ED;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
  -webkit-transition: .6s;
  transition: .6s;
  z-index: 9;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
}

header a {
  position: relative;
  -webkit-transition: .6s;
  transition: .6s;
}

header a #logo {
  width: 13em;
  -webkit-transition: .6s;
  transition: .6s;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul li {
  position: relative;
  list-style-type: none;
}

header ul li a {
  position: relative;
  margin: 0 60px;
  text-decoration: none;
  color: #2f2d2d;
  -webkit-transition: .6s;
  transition: .6s;
  font-family: "Lexend Tera", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}

header.sticky {
  padding: 5px 50px;
  height: 75px;
  opacity: 0.9;
}

header.sticky a #logo {
  width: 11em;
}

@media (max-width: 1400px) {
  header ul li a {
    margin: 0 15px;
    font-size: .8em;
  }
}

@media (max-width: 1200px) {
  header ul li a {
    margin: 0 15px;
    font-size: .8em;
  }
}

@media (max-width: 850px) {
  header a #logo {
    width: 10em;
  }
  header ul {
    display: none;
  }
  header ul li a {
    margin: 0 15px;
    font-size: .8em;
  }
  header.sticky a #logo {
    width: 10em;
  }
}

footer {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2f2d2d;
}

footer h1 {
  color: white;
  font-family: "Lexend Tera", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FEF6ED;
  min-width: 500px;
}

#presentacion {
  min-height: 700px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#presentacion h1 {
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-size: 4em;
}

#cat_productos {
  min-height: 400px;
  background-color: #2f2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cat_productos h1 {
  color: #FEF6ED;
  font-size: 4em;
  font-family: "Lexend Tera", sans-serif;
}

#cotizacion {
  min-height: 200px;
  background-color: #FEF6ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cotizacion h1 {
  color: #2f2d2d;
  font-size: 4em;
  font-family: "Lexend Tera", sans-serif;
}

@media (max-width: 1050px) {
  body {
    background-color: #FEF6ED;
    min-width: 100px;
  }
}

#productos {
  min-height: 700px;
  min-width: 1280px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0px 50px 0px;
}

#productos .banner_productos {
  width: 100%;
  height: 200px;
  background-color: #2f2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
  color: #FEF6ED;
  font-family: "Lexend Tera", sans-serif;
}

#productos #filter_info {
  width: 100vw;
  min-width: 1430px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  display: none;
}

#productos #filter_info .filter_cat {
  height: 100%;
  width: 700px;
  border: 2px solid black;
  font-family: "Lexend Tera", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#productos #filter_info .orden {
  height: 100%;
  width: 300px;
  border: 2px solid black;
}

#productos #productos_container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#productos #productos_container #filter {
  width: 20%;
  padding: 20px 0px 30px 0px;
  min-height: 700px;
  min-width: 240px;
  height: 500px;
}

#productos #productos_container #filter .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Lexend Tera", sans-serif;
  height: 300px;
}

#productos #productos_container #filter .filter .filter_title {
  font-size: 1.1em;
}

#productos #productos_container #filter .filter #botones_filtro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  height: 180px;
}

#productos #productos_container #filter .filter #botones_filtro .btn {
  background-color: white;
  padding-left: 5px;
  height: 25px;
  width: 250px;
  font-family: "Lexend Tera", sans-serif;
  font-size: .7em;
  text-align: left;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
}

#productos #productos_container #filter .filter #botones_filtro .btn:hover {
  background-color: #2f2d2d;
  color: #FEF6ED;
}

#productos #productos_container #seccion_productos {
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

#productos #productos_container #seccion_productos .tarj_producto {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 16px;
  margin: 20px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  font-family: "Lexend Tera", sans-serif;
  color: #2f2d2d;
  -webkit-transition: .3s;
  transition: .3s;
}

#productos #productos_container #seccion_productos .tarj_producto:hover {
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), 0px 0px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), 0px 0px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
}

#productos #productos_container #seccion_productos .tarj_producto img {
  width: 200px;
}

#productos #productos_container #seccion_productos .tarj_producto p {
  font-size: 0.8em;
  font-weight: 300;
}

#productos #productos_container #seccion_productos .tarj_producto h1 {
  font-size: 1.2em;
}

#productos #productos_container #seccion_productos .tarj_producto .descripcion {
  font-size: 0.8em;
  font-weight: 300;
  height: 64px;
}

#productos #productos_container #seccion_productos .tarj_producto .precio {
  margin: 10px 0px 10px 0px;
}

#productos #productos_container #seccion_productos .tarj_producto .info_producto {
  margin: 10px 0px 10px 0px;
}

#productos #productos_container #seccion_productos .tarj_producto .info_producto a {
  text-decoration: none;
  font-weight: 500;
  color: #2f2d2d;
}

#productos #productos_container #seccion_productos .tarj_producto.show {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 16px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  font-family: "Lexend Tera", sans-serif;
  color: #2f2d2d;
  -webkit-transition: .3s;
  transition: .3s;
}

#productos #productos_container #seccion_productos .tarj_producto.show:hover {
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), 0px 0px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), 0px 0px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
}

#productos #productos_container #seccion_productos .tarj_producto.show img {
  width: 200px;
}

#productos #productos_container #seccion_productos .tarj_producto.show p {
  font-size: 0.8em;
  font-weight: 300;
}

#productos #productos_container #seccion_productos .tarj_producto.show h1 {
  font-size: 1.2em;
}

#productos #productos_container #seccion_productos .tarj_producto.show .descripcion {
  font-size: 0.8em;
  font-weight: 300;
  height: 64px;
}

#productos #productos_container #seccion_productos .tarj_producto.show .precio {
  margin: 10px 0px 10px 0px;
}

#productos #productos_container #seccion_productos .tarj_producto.show .info_producto {
  margin: 10px 0px 10px 0px;
}

#productos #productos_container #seccion_productos .tarj_producto.show .info_producto a {
  text-decoration: none;
  font-weight: 500;
  color: #2f2d2d;
}

@media (max-width: 1650px) {
  #productos #productos_container #seccion_productos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1350px) {
  #productos {
    min-width: 1000px;
  }
  #productos #productos_container #seccion_productos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1050px) {
  #productos {
    min-width: 800px;
  }
  #productos #productos_container #seccion_productos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  #productos #productos_container #seccion_productos .tarj_producto {
    width: 200px;
    height: 350px;
  }
  #productos #productos_container #seccion_productos .tarj_producto img {
    width: 150px;
  }
  #productos #productos_container #seccion_productos .tarj_producto p {
    font-size: .6em;
  }
  #productos #productos_container #seccion_productos .tarj_producto h1 {
    font-size: .8em;
  }
  #productos #productos_container #seccion_productos .tarj_producto .descripcion {
    font-size: .6em;
  }
}

@media (max-width: 850px) {
  #productos {
    min-width: 400px;
  }
  #productos #productos_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #productos #productos_container #filter {
    height: 150px;
    min-height: 150px;
    width: 100%;
  }
  #productos #productos_container #seccion_productos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  #productos #productos_container #seccion_productos .tarj_producto {
    width: 200px;
    height: 350px;
  }
  #productos #productos_container #seccion_productos .tarj_producto img {
    width: 150px;
  }
  #productos #productos_container #seccion_productos .tarj_producto p {
    font-size: .6em;
  }
  #productos #productos_container #seccion_productos .tarj_producto h1 {
    font-size: .8em;
  }
  #productos #productos_container #seccion_productos .tarj_producto .descripcion {
    font-size: .6em;
  }
}

@media (max-width: 540px) {
  #productos {
    min-width: 400px;
  }
  #productos #productos_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #productos #productos_container #filter {
    height: 150px;
    min-height: 150px;
    width: 100%;
  }
  #productos #productos_container #seccion_productos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    width: 100%;
  }
  #productos #productos_container #seccion_productos .tarj_producto {
    width: 300px;
    height: 400px;
  }
  #productos #productos_container #seccion_productos .tarj_producto img {
    width: 200px;
  }
  #productos #productos_container #seccion_productos .tarj_producto p {
    font-size: .6em;
  }
  #productos #productos_container #seccion_productos .tarj_producto h1 {
    font-size: .8em;
  }
  #productos #productos_container #seccion_productos .tarj_producto .descripcion {
    font-size: .6em;
  }
}

#servicios {
  min-height: 700px;
  background-color: #2f2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#servicios h1 {
  color: white;
  font-family: "Lexend Tera", sans-serif;
  font-size: 4em;
}

#contacto {
  min-height: 700px;
  background-color: #2f2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto h1 {
  color: white;
  font-family: "Lexend Tera", sans-serif;
  font-size: 4em;
}
/*# sourceMappingURL=style.css.map */