@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap");
header {
  background-color: #FEF2D4;
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
  -webkit-transition: .6s;
  transition: .6s;
  z-index: 9;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
}

header a {
  position: relative;
  -webkit-transition: .6s;
  transition: .6s;
}

header a #logo {
  width: 13em;
  -webkit-transition: .6s;
  transition: .6s;
}

header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header ul li {
  position: relative;
  list-style-type: none;
}

header ul li a {
  position: relative;
  margin: 0 60px;
  text-decoration: none;
  color: #2f2d2d;
  -webkit-transition: .6s;
  transition: .6s;
  font-family: "Lexend Tera", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  padding: 2px;
}

header ul li a:after, header ul li a:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

header ul li a:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
}

header ul li a:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}

header ul li a:hover::after, header ul li a:hover::before {
  width: 80%;
  height: 50%;
  border-color: #2f2d2d;
}

header.sticky {
  padding: 5px 50px;
  height: 75px;
  opacity: 0.9;
}

header.sticky a #logo {
  width: 11em;
}

@media (max-width: 1400px) {
  header ul li a {
    margin: 0 15px;
    font-size: .8em;
  }
}

@media (max-width: 1200px) {
  header ul li a {
    margin: 0 15px;
    font-size: .8em;
  }
}

@media (max-width: 850px) {
  header a #logo {
    width: 10em;
  }
  header ul {
    display: none;
  }
  header ul li a {
    margin: 0 15px;
    font-size: .8em;
  }
  header.sticky a #logo {
    width: 10em;
  }
}

footer {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2f2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1), -2px -2px 4px rgba(0, 0, 0, 0.1);
}

footer #footer_contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FEF2D4;
  font-size: .6em;
  font-weight: 100;
  height: 200px;
  width: 400px;
}

footer #footer_logo {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 500px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

#presentacion {
  min-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FEF2D4;
}

#desc_servicios {
  min-height: 250px;
  padding: 0px 60px 0px 60px;
  background-color: #2f2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#desc_servicios h1 {
  color: #FEF2D4;
  font-size: 4em;
  font-family: "Lexend Tera", sans-serif;
}

#desc_servicios .link_servicios {
  height: 250px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#desc_servicios .link_servicios .btn_servicios {
  height: 100px;
  width: 200px;
  background-color: #FEF2D4;
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  border: none;
  border-radius: 12px;
}

#desc_servicios .link_servicios .btn_servicios a {
  color: #2f2d2d;
  list-style: none;
  text-decoration: none;
  font-size: 1.3em;
}

#cat_productos {
  min-height: 250px;
  padding: 0px 60px 0px 60px;
  background-color: #FEF2D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cat_productos h1 {
  color: #2f2d2d;
  font-size: 2em;
  font-family: "Lexend Tera", sans-serif;
}

#cat_productos .link_productos {
  height: 250px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cat_productos .link_productos button {
  height: 100px;
  width: 200px;
  background-color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  border: none;
  border-radius: 12px;
}

#cat_productos .link_productos button a {
  color: #FEF2D4;
  list-style: none;
  text-decoration: none;
  font-size: 1.3em;
}

#cotizacion {
  min-height: 200px;
  padding: 0px 60px 0px 60px;
  background-color: #2f2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#cotizacion h1 {
  color: #FEF2D4;
  font-size: 4em;
  font-family: "Lexend Tera", sans-serif;
}

#cotizacion .link_contacto {
  height: 250px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cotizacion .link_contacto button {
  height: 100px;
  width: 200px;
  background-color: #FEF2D4;
  font-family: "Lexend Tera", sans-serif;
  border: none;
  border-radius: 12px;
}

#cotizacion .link_contacto button a {
  color: #2f2d2d;
  list-style: none;
  text-decoration: none;
  font-size: 1.3em;
}

#banner {
  width: 100%;
  height: 200px;
  background-color: #2f2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2em;
  color: #FEF2D4;
  font-family: "Lexend Tera", sans-serif;
  margin-top: 100px;
}

#productos {
  background-color: red;
  min-height: 800px;
  min-width: 1000px;
  background-color: #FEF2D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 10px 50px 50px;
}

#productos .filtro {
  margin: 20px;
}

#productos .filtro .btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#productos .filtro .btn_container .filter_btn {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background-color: #FEF2D4;
  padding-left: 5px;
  margin: 5px;
  height: 25px;
  width: 250px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  font-weight: 300;
  font-size: 1em;
  text-align: left;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 0px 0px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
}

#productos .filtro .btn_container .filter_btn:hover {
  background-color: #2f2d2d;
  color: #FEF6ED;
}

#productos .filtro .btn_container .filter_btn:focus {
  background-color: #2f2d2d;
  color: #FEF6ED;
}

#productos .catalogo {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#productos .catalogo .tarj_producto {
  width: 250px;
  height: 350px;
  background-color: #FEF2D4;
  border-radius: 16px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  color: #2f2d2d;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), 0px 0px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1), 0px 0px 6px rgba(0, 0, 0, 0.1);
}

#productos .catalogo .tarj_producto:hover {
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1), -4px -4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1), -4px -4px 16px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s;
  transition: .3s;
}

#productos .catalogo .tarj_producto img {
  width: 150px;
}

#productos .catalogo .tarj_producto p {
  font-size: 0.8em;
  font-weight: 300;
}

#productos .catalogo .tarj_producto h1 {
  font-size: 1.2em;
}

#productos .catalogo .tarj_producto .descripcion {
  font-size: 0.8em;
  font-weight: 300;
  height: 64px;
}

#productos .catalogo .tarj_producto .precio {
  margin: 10px 0px 10px 0px;
}

#productos .catalogo .tarj_producto .info_producto {
  margin: 10px 0px 10px 0px;
}

#productos .catalogo .tarj_producto .info_producto a {
  text-decoration: none;
  font-weight: 500;
  color: #2f2d2d;
}

#servicios {
  min-height: 800px;
  background-color: #FEF2D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#servicios .servicios {
  width: 60%;
  height: 950px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#servicios .servicios h1 {
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  font-size: 3em;
}

#servicios .servicio_1 {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#servicios .servicio_1 .descripcion_1 {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#servicios .servicio_1 .descripcion_1 p {
  font-family: "Lexend Tera", sans-serif;
  font-size: 0.9em;
  text-align: justify;
  text-justify: inter-word;
}

#servicios .servicio_1 .imagen_1 {
  padding: 10px;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#servicios .servicio_1 .imagen_1 img {
  width: 550px;
  border-radius: 10px;
}

#servicios .servicio_2 {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#servicios .servicio_2 .imagen_2 {
  padding: 10px;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#servicios .servicio_2 .imagen_2 img {
  width: 550px;
  border-radius: 10px;
}

#servicios .servicio_2 .descripcion_2 {
  width: 50%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#servicios .servicio_2 .descripcion_2 p {
  font-family: "Lexend Tera", sans-serif;
  font-size: .9em;
  text-justify: inter-word;
  text-align: justify;
  text-justify: inter-word;
}

#contacto {
  height: 100vh;
  min-height: 700px;
  background-color: #2f2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .contacto {
  width: 70%;
  height: 800px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .contacto .mapa {
  width: 50%;
  height: 500px;
}

#contacto .contacto .mapa .mapouter {
  width: 100%;
}

#contacto .contacto .mapa .mapouter .gmap_canvas {
  width: 100%;
}

#contacto .contacto .mapa .mapouter .gmap_canvas #gmap_canvas {
  width: 100%;
}

#contacto .contacto .mapa .mapouter .gmap_canvas #gmap_canvas iframe {
  width: 100%;
}

#contacto .contacto .info {
  width: 50%;
  height: 500px;
  background-color: #FEF2D4;
  color: #2f2d2d;
  font-family: "Lexend Tera", sans-serif;
  padding: 20px;
  font-size: 1em;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contacto .contacto .info .redes_sociales {
  padding-top: 10px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contacto .contacto .info .redes_sociales a i {
  color: #2f2d2d;
  font-size: 2em;
}
/*# sourceMappingURL=style.css.map */