// COLORES

$color-1: #2f2d2d;
$color-2: white;
$color-3: #FEF2D4;

// FONT

@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap');
$font-1: 'Lexend Tera', sans-serif;

#contacto{
    height: 85vh;
    min-height: 700px;
    background-color: $color-1;
    display: flex;
    align-items: center;
    justify-content: center;
    .contacto{
        width: 1200px;
        height: 600px;
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        .mapa{
            width: 50%;
            height: 500px;
            .mapouter{
                width: 100%;
                .gmap_canvas{
                    width: 100%;
                    #gmap_canvas{
                        width: 100%;
                        iframe{
                            width: 100%;
                        }
                    }
                }
            }
        }
        .info{
            width: 50%;
            height: 500px;
            background-color: $color-3;
            color: $color-1;
            font-family: $font-1;
            padding: 20px;
            font-size: 1em;
            letter-spacing: 3px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .redes_sociales{
                padding-top: 10px;
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                a{
                    i{
                        color: $color-1;
                        font-size: 2em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1230px) {
    #contacto{        
        .contacto{
            .mapa{
                display: none;
                .mapouter{                    
                    .gmap_canvas{                        
                        #gmap_canvas{                            
                            iframe{                                
                            }
                        }
                    }
                }
            }
            .info{
                width: 75%;
                .redes_sociales{                
                    a{
                        i{
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 810px) {
    #contacto{        
        .contacto{
            .mapa{
                display: none;
                .mapouter{                    
                    .gmap_canvas{                        
                        #gmap_canvas{                            
                            iframe{                                
                            }
                        }
                    }
                }
            }
            .info{
                width: 75%;
                .redes_sociales{
                    width: 25%;
                    a{
                        i{
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 715px) {
    #contacto{        
        .contacto{
            .mapa{
                display: none;
                .mapouter{                    
                    .gmap_canvas{                        
                        #gmap_canvas{                            
                            iframe{                                
                            }
                        }
                    }
                }
            }
            .info{
                width: 75%;
                h1{
                    font-size: 1em;
                }
                .redes_sociales{
                    width: 40%;
                    a{
                        i{
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 525px) {
    #contacto{        
        .contacto{
            .mapa{
                display: none;
                .mapouter{                    
                    .gmap_canvas{                        
                        #gmap_canvas{                            
                            iframe{                                
                            }
                        }
                    }
                }
            }
            .info{
                width: 75%;
                h1{
                    font-size: .8em;
                }
                .redes_sociales{
                    width: 40%;
                    a{
                        i{
                        }
                    }
                }
            }
        }
    }
}

