// COLORES

$color-1: #2f2d2d;
$color-2: #FEF6ED;
$color-3: white;
$color-4: #FEF2D4;

// FONT

@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap');
$font-1: 'Lexend Tera', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: overlay;
    background-color: $color-4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &::-webkit-scrollbar {
        width: 10px;
    }
     
    &::-webkit-scrollbar-track {        
        background-color: $color-1;        
    }
     
    &::-webkit-scrollbar-thumb {        
        background-color: $color-4;
    }
}

#presentacion{
    min-height: 700px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-4;    
}

#desc_servicios{
    min-height: 250px;
    padding: 0px 30px 0px 30px;
    background-color: $color-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .titulo{
        h1{
            color: $color-4;
            font-size: 3em;
            font-family: $font-1;
        }
        h3{
            font-family: $font-1;
            font-size: .8em;
            color: $color-4;
        }
    }
    
    .link_servicios{
        height: 250px;
        width: 300px;        
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            position: relative;
            display: inline-block;
            .btn_servicios{
                cursor: pointer;
                height: 100px;
                width: 200px;
                background-color: $color-4;
                color: $color-1;
                font-family: $font-1;
                border: none;
                border-radius: 12px;
                color: $color-1;
                list-style: none;
                text-decoration: none;
                font-size: 1.1em;
                transition: .2s;
                &:hover{
                    color: $color-4;
                    border: 2px solid $color-4;
                    background-color: $color-1;
                }
            }
        }
    }
}

#cat_productos{
    min-height: 250px;
    padding: 0px 30px 0px 30px;
    background-color: $color-4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
        color: $color-1;
        font-size: 1.5em;
        font-family: $font-1;
    }
    .link_productos{
        height: 250px;
        width: 300px;        
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            .btn_productos{
                cursor: pointer;
                height: 100px;
                width: 200px;
                background-color: $color-1;            
                font-family: $font-1;
                border: none;
                border-radius: 12px;
                color: $color-4;
                list-style: none;
                text-decoration: none;
                font-size: 1.1em;
                transition: .2s;
                &:hover{
                    color: $color-1;
                    border: 2px solid $color-1;
                    background-color: $color-4;
                }
            }
        }
    }
}

#cotizacion{
    min-height: 200px;
    padding: 0px 30px 0px 30px;
    background-color: $color-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .titulo{
        h1{
            color: $color-4;
            font-size: 3em;
            font-family: $font-1;
        }
        h3{
            color: $color-4;
            font-size: 1em;
            font-family: $font-1;
        }
    }

    .link_contacto{
        height: 250px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            .btn_contacto{
                cursor: pointer;
                height: 100px;
                width: 200px;
                background-color: $color-4;            
                font-family: $font-1;
                border: none;
                border-radius: 12px;
                color: $color-1;
                list-style: none;
                text-decoration: none;
                font-size: 1.1em;
                transition: 0.2s;
                &:hover{
                    color: $color-4;
                    border: 2px solid $color-4;
                    background-color: $color-1;
                }
            }
        } 
    }
}

//MEDIA QUERIES

//OK
@media screen and (max-width: 1396px) {

    #desc_servicios{
        .titulo{
            h1{                
                font-size: 3em;                
            }
            h3{                
                font-size: .6em;
            }
        }        
        .link_servicios{            
            a{
                .btn_servicios{                    
                    &:hover{
                    }
                }
            }
        }
    }    
    #cat_productos{
        h1{
            font-size: 1.3em;
        }
        .link_productos{
            a{
                .btn_productos{
                    &:hover{
                    }
                }
            }
        }
    }    
    #cotizacion{        
        .titulo{
            h1{                
                font-size: 3em;
            }
            h3{                
                font-size: .6em;
            }
        }    
        .link_contacto{
            a{
                .btn_contacto{
                    &:hover{                        
                    }
                }
            } 
        }
    }    
}

//OK
@media screen and (max-width: 820px) {
    #desc_servicios{        
        .titulo{
            max-width: 428px;
            h1{
                font-size: 2em;
            }
            h3{
                display: none;
            }
        }        
        .link_servicios{
            a{
                .btn_servicios{
                    &:hover{
                    }
                }
            }
        }
    }    
    #cat_productos{
        h1{            
            font-size: .8em;
            max-width: 428px;
        }
        .link_productos{
            a{
                .btn_productos{
                    &:hover{
                    }
                }
            }
        }
    }    
    #cotizacion{
        .titulo{
            max-width: 428px;
            h1{
                font-size: 2em;
            }
            h3{
                display: none;
            }
        }    
        .link_contacto{
            a{
                .btn_contacto{
                    &:hover{
                    }
                }
            } 
        }
    }    
}

//OK
@media screen and (max-width: 760px) {
    #desc_servicios{
        .titulo{
            max-width: 428px;
            h1{
                font-size: 2em;
            }
            h3{
                display: none;
            }
        }        
        .link_servicios{
            height: 100px;
            width: 150px;    
            a{
                .btn_servicios{
                    &:hover{
                    }
                }
            }
        }
    }    
    #cat_productos{
        h1{            
            font-size: .8em;
            max-width: 428px;
        }
        .link_productos{
            height: 100px;
            width: 150px; 
            a{
                .btn_productos{
                    &:hover{
                    }
                }
            }
        }
    }    
    #cotizacion{
        .titulo{
            max-width: 428px;
            h1{
                font-size: 2em;
            }
            h3{
                display: none;
            }
        }    
        .link_contacto{
            height: 100px;
            width: 150px; 
            a{
                .btn_contacto{
                    &:hover{
                    }
                }
            } 
        }
    }    
}

//
@media screen and (max-width: 670px) {
    #presentacion{
    }
    #desc_servicios{        
        .titulo{
            max-width: 428px;
            h1{
                font-size: 1.5em;
            }
            h3{
                display: none;
            }
        }        
        .link_servicios{
            a{
                .btn_servicios{
                    height: 75px;
                    width: 125px;
                    font-size: .8em;
                    &:hover{
                    }
                }
            }
        }
    }    
    #cat_productos{
        h1{            
            font-size: .6em;
            max-width: 428px;
        }
        .link_productos{
            a{
                .btn_productos{
                    height: 75px;
                    width: 125px;
                    font-size: .8em;
                    &:hover{
                    }
                }
            }
        }
    }    
    #cotizacion{
        .titulo{
            max-width: 428px;
            h1{
                font-size: 1.5em;
            }
            h3{
                display: none;
            }
        }    
        .link_contacto{
            a{
                .btn_contacto{
                    height: 75px;
                    width: 125px;
                    font-size: .8em;
                    &:hover{
                    }
                }
            } 
        }
    }    
}