// COLORES

$color-1: #2f2d2d;
$color-2: white;
$color-3: #FEF2D4;

// FONT

@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap');
$font-1: 'Lexend Tera', sans-serif;

#servicios{
    min-height: 800px;
    background-color: $color-3;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        color: $color-1;
        font-family: $font-1;
        font-size: 4em;
    }
}