// COLORES

$color-1: #2f2d2d;
$color-2: white;
$color-3: #FEF2D4;

// FONT

@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100;200;300;400;500;600&display=swap');
$font-1: 'Lexend Tera', sans-serif;

#servicios{
    min-height: 800px;
    background-color: $color-3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .servicios{
        width: 1200px;
        height: 950px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        h1{
            color: $color-1;
            font-family: $font-1;
            font-size: 3em;
        }
    }
    .servicio_1{
        height: 350px;
        display: flex;
        .descripcion_1{
            width: 50%;
            height: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-family: $font-1;
                font-size: 0.9em;
                text-align: justify;
                text-justify: inter-word;
            }
        }
        .imagen_1{
            padding: 10px;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 550px;
                border-radius: 10px;
            }         
        }
    }
    .servicio_2{
        height: 400px;
        display: flex;
        .imagen_2{
            padding: 10px;
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 550px;
                border-radius: 10px;
            }         
        }
        .descripcion_2{
            width: 50%;
            height: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-family: $font-1;
                font-size: .9em;
                text-justify: inter-word;
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }
}